@CHARSET "ISO-8859-1";

#playground {
	width: 200px;
	height: 200px;
	background-color: #000;
}

#console-container {
	float: left;
	margin-left: 15px;
	width: 300px;
}

#console {
	border: 1px solid #CCCCCC;
	border-right-color: #999999;
	border-bottom-color: #999999;
	/* height: 200px;  */
	height: 400px;
	overflow-y: scroll;
	padding-left: 5px;
	padding-right: 5px;
	width: 400px;
}

#console p {
	padding: 0;
	margin: 0;
}